html,
body {
  position: relative;
  height: 100%;
}

.home {
   
    .btn {
        display: flex !important;
        justify-content: center;
        align-items: center;
        i {
            margin-left: 10px;
            margin-top: 4px;
            font-size: 20px;
        }
    }
}
.banner {
    &_home {
        width: 100%;
        .item {
            position: relative;
            .container {
                position: absolute;
                top: calc(100% / 2 - 50% / 2);
                left: 0;
                right: 0;
            }
            .content-banner {
                max-width: 457px;
                width: 100%;
                margin-left: 100px;
                h2 {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .content_15 {
                    line-height: 20px;
                    color: #fff;
                    margin-top: 34px;
                    margin-bottom: 40px;
                    display: -webkit-box;
                    -webkit-line-clamp: 4;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
            }
        }
        #slide-home {
            width: 100%;
            .owl-nav {
                max-width: 1140px;
                width: 100%;
                margin: auto;
                position: absolute;
                top: calc(100% / 2 - 25% / 2);
                right: 0;
                left: 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                button {
                    width: 54px;
                    height: 114px;
                    background: #ff4917 0% 0% no-repeat padding-box;
                    opacity: 0.5;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
            .owl-dots {
                width: 100%;
                position: absolute;
                bottom: 8%;
                text-align: center;
                .owl-dot {
                    width: 32px;
                    height: 13px;
                    background: #ffffff 0% 0% no-repeat padding-box;
                    box-shadow: 0px 3px 6px #00000029;
                    border-radius: 9px;
                    opacity: 0.3;
                    margin-right: 23px;
                    &.active,
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
}
.introduce {
    .row-main {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 120px 0;
        & > div {
            width: 50%;
        }
        .item-left {
            position: relative;
            .img{
                display: block;
                overflow: hidden;
                border-radius: 10px;
                max-width: 499px;
                width: 100%;
                // height: 499px;
                z-index: 1;
                img{
                   max-width: 100%;
                }
            }
            &::before {
                content: "";
                width: 286px;
                height: 255px;
                background: #ff4917 0% 0% no-repeat padding-box;
                border-radius: 10px;
                opacity: 1;
                position: absolute;
                top: -28px;
                left: -28px;
                z-index: -1;
            }
            &::after {
                content: "";
                width: 286px;
                height: 255px;
                background: #ff4917 0% 0% no-repeat padding-box;
                border-radius: 10px;
                opacity: 1;
                position: absolute;
                bottom: -21px;
                right: 42px;
                z-index: -1;
            }
        }
        .item-right{
            h3.title_35{
                margin-bottom: 30px;
            }
            .btn{
                margin-top: 40px;
            }
        }
    }
}
.news-sukien{
    .swiper {
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        height: calc((100% - 30px) / 2);

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

}